nav {
  width: 100%;
  height: 70px;
  padding-top: 5px;
  box-sizing: border-box;
}
ul {
  display: flex;
}
li {
  list-style: none;
}
a {
  display: inline;
  text-decoration: none;
}
h1 {
  font-weight: inherit;
}
.sitename{
  display: inline-block;
  font-family: 'M PLUS 1', 'ヒラギノ明朝 Pro W3', serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.title{
  color: black;
}
.title:visited{
  color: black
}
.navigator{
  display: flex;
}
.nav_menu {
  display: block;
  margin-right: 35px;
}
.top_content {
  font-family: 'Georgia', 'Yu Mincho', serif;
}
.top_headline {
  display: inline;
  font-family: 'M PLUS 1', 'ヒラギノ明朝 Pro W3', serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.topic_content {
  font-family: 'Yu Mincho', 'ヒラギノ明朝 Pro W3', serif;
}
