nav {
  width: 100%;
  height: 70px;
  padding-top: 5px;
  box-sizing: border-box;
}
ul {
  display: flex;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline;
}
.nav_menu {
  display: block;
  margin-right: 35px;
}
.top_content {
            font-family: 'Georgia', 'Yu Mincho', sans-serif;
}
